Source: libvmod-awsrest
Section: web
Priority: extra
Maintainer: Shohei Tanaka(@xcir) <kokoniimasu@gmail.com>
Build-Depends: debhelper (>= 7),
 build-essential,
 pkg-config,
 python-docutils,
 varnish (>= 5.0.0),
 varnish-dev (>= 5.0.0),
 libmhash-dev
Standards-Version: 3.8.1
Vcs-Git: git://github.com/xcir/libvmod-awsrest.git

Package: libvmod-awsrest
Architecture: any
Depends: varnish (>= 5.0.0), ${shlibs:Depends}, ${misc:Depends}, ${Varnish:ABI}, libmhash2
Description: Varnish AWS REST API module
